force-app/main/default/flows/MI_Owner_Assignment_By_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Admin_Owner</name>
        <label>Assign Admin Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiative_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Execution_Owner</name>
        <label>Assign Execution Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiative_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Monitoring_and_Review_Owner</name>
        <label>Assign Monitoring and Review Owner</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>$Record.Initiative_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Determine_Owner_by_Status</name>
        <label>Determine Owner by Status</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Identified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initiative_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Identified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Admin_Owner</targetReference>
            </connector>
            <label>Identified</label>
        </rules>
        <rules>
            <name>In_Execution</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initiative_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In Execution</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Execution_Owner</targetReference>
            </connector>
            <label>In Execution</label>
        </rules>
        <rules>
            <name>Monitoring_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Initiative_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Monitoring &amp; Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Monitoring_and_Review_Owner</targetReference>
            </connector>
            <label>Monitoring &amp; Review</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>MI_Owner_Assignment_By_Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MI_Owner_Assignment_By_Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Determine_Owner_by_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Initiative_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Mobility_Initiative__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
